body{
margin:0;
font-family:Vazirmatn;
background:#0b1511;
color:#fff;
}

/* background */
canvas{
position:fixed;
z-index:-1;
top:0;
left:0;
}

nav{
padding:12px;
background:rgba(255,255,255,0.05);
backdrop-filter: blur(10px);
}

.logo{color:#7CFFB2;font-weight:bold}

/* players */
.players{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(180px,1fr));
gap:15px;
padding:20px;
}

.card{
background:rgba(255,255,255,0.06);
border-radius:12px;
overflow:hidden;
}

.card img{
width:100%;
height:200px;
object-fit:cover;
}

.en{color:#7CFFB2}
.fa{color:#ccc;font-size:13px}

/* admin button */
.fab{
position:fixed;
bottom:15px;
right:15px;
background:#7CFFB2;
border:none;
padding:12px;
border-radius:50%;
cursor:pointer;
display:none; /* پیش‌فرض مخفی */
}

/* chat */
.chatBtn{
position:fixed;
bottom:15px;
left:15px;
background:#7CFFB2;
border:none;
padding:12px;
border-radius:50%;
}

.chat{
position:fixed;
bottom:70px;
left:15px;
width:260px;
background:rgba(0,0,0,0.8);
padding:10px;
display:none;
}

/* ai */
.ai{
position:fixed;
bottom:70px;
left:290px;
width:260px;
background:rgba(255,255,255,0.06);
padding:10px;
display:none;
}